.input {
  background: url(../../assets/images/input.svg) no-repeat scroll center center transparent;
  width: 324px;
  height: 46px;
  display: flex;
  justify-content: center;
  padding: 6px 16px 0;
  box-sizing: border-box;
  position: fixed;
  bottom: 64px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 200;

  input {
    width: 100%;
    height: 24px;
    border: none;
    margin: 0;
    background-color: transparent;
    color: #FFF;
    text-shadow: 0 5px 2px rgba(0, 0, 0, 0.65);
    font-family: 'Bangers', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;

    &:focus {
      outline: none;

      & ~ .focus::before {
        opacity: 1;
        transform: translate(0, -3px);
      }

      & ~ .focus::after {
        opacity: 1;
        transform: translate(0, -3px);
      }
    }
  }

  .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before {
      content: "";
      height: 32px;
      width: 8px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-10px, -3px);
      transition: transform 0.5s ease-in-out, opacity 0.5s ease;
      border-radius: 8px 0 0 8px;
      border-width: 6px;
      border-color: #F5FA12 transparent #BFF91B #555;
      border-style: solid;
      opacity: 0;
    }

    &::after {
      content: "";
      height: 32px;
      width: 8px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(10px, -3px);
      transition: transform 0.5s ease-in-out, opacity 0.5s ease;
      border-radius: 0 8px 8px 0;
      border-width: 6px;
      border-color: #F5FA12 #555 #BFF91B transparent;
      border-style: solid;
      opacity: 0;
    }
  }
}
